/*
 * Cormac Taylor
 * I pledge my honor that I have abided by the Stevens Honor System.
 */
.searchResultImage {
    max-width: 5%;
}

.error {
    color: red;
    font-style: italic;
}

#summary {
    color: gray;
    font-style: italic;
}

strong {
    font-weight: bolder;
    text-decoration: underline;
}

table,
tr,
td {
  border: 1px solid black;
}

.content {
    text-align: center;
}

.title_header {
    color: black;
    font-style: italic;
}

.to_home {
    color: black;
}

.movie-not-found {
    color: gray;
    font-style: italic;
}

#searchByTitle {
    font-style: italic;
}

#home-div {
    width: 50%;
    margin:0 auto;
}

#searchByTitleLabel {
    color: gray;
    font-style: italic;
}

#submitInput {
    background-color: white;
    color: black;
}

#searchByTitle {
    color: black;
    font-style: normal;
}

#home_title {
    border: 1px solid black;
}

#searchByTitleToken {
    color: gray;
    font-style: italic;
}

.movie-title {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: black;
    font-size: large;
}

#title-card {
    border: 1px solid black;
    text-align: center;
}

.poster {
    max-width: 20%;
}